<div class="row">
  <div class="large-12 columns">
    <ul class="pricing-table">
      <li class="title"><%= @user.username %></li>
      <li class="bullet-item"><%= avatar %></li>
      <li class="cta-button"><%= link_to 'Edit My Account', edit_user_registration_path, class: 'button round' %></li>
    </ul>
  </div>
</div>
