<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

<div class="hexagons">
  <ul id="categories" class="clr">
    <% suckr = ImageSuckr::GoogleSuckr.new %>
    <% 35.times do |n| %>
      <a href="<%= Faker::Internet.url %>">
        <li>
          <div id="hex">
            <%= image_tag "http://lorempixel.com/200/200/transport/#{n}Dummy-Text/", alt: "#{Faker::Internet.user_name}" %>
            <h1><%= Faker::Lorem.words(3) %></h1>
            <p><%= Faker::Lorem.words(8) %></p>
          </div>
        </li>
      </a>
    <% end %>
  </ul>
</div>
